h1{
    text-align: center;

}
.navbar ul{
    list-style-type:none;
    background-color: rgb(186, 155, 214);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: #8d4646;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(11, 36, 58);
}
.navbar li{
    float: left;
}